
.auth {
  width: 480px;
  margin: 50px auto;
  background-color: rgba(34,34,34,.8);
  border: .2rem solid  #F5B041;
  border-radius: 8px;
  padding: 20px;
  justify-content:center;
  align-items:center;
  color: white;
}

.auth h2 {
  text-align: center;
  color: white;
}

.auth .btn-primary:disabled, .auth .btn-primary:disabled:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
  }
.forgotPassword {
  cursor: pointer;
}
.auth .btn {
  width: 120px;
}
.auth .btn.disabled, .auth .btn:disabled {
    opacity: 1;
}

.auth .btn-primary {
  background-color: #F5B041;
  border-color: #F5B041;
  color: #000;
}
.auth .btn-primary:hover {
  background-color: #F5D061;
  border-color: #F5D061;
  color: #000;
}

label {
  text-align: right;
}
.auth .error {
  margin-top: 12px;
  font-size: large;
  color: red;
}

.profil-container h2 {
  text-align: center;
  color: white;
}

.profil-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
  color: white;
}
.profil-panel {
  background-color: rgba(34,34,34,.8);
  width: 100%;
  max-width: 700px;
  margin: 0 auto 20px;
  padding: 12px;
  border : 1px solid #F5B041;
}
.card-size-selector {
  display: inline-block;
}
.card-settings {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
.card-size-selector>.preview-card>.card {
  display: block;
}
.label-card-size {
  display: block;
  text-align: center;
}
.card-size-selector>.preview-card>.card, .card-size-selector>.preview-card>.card-image {
  align-self: flex-end;
  margin-left: 10px;
}

.card.active {
  border : 2px solid #F5B041;
}