html, body, #root {
  height: 100%;
  font-family: sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

.container {
    max-width: 100%;
    padding: 0;
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    height:100%;
    width:100%
}

.bg {
    padding-top: 50px;
    background-image: url("../image/ra_bg.jpg");
    height: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 41px;
    bottom: 0;
    overflow-y: auto;
}
