.dashboard-content {
  padding: 20px 20px 20px 40px;
  height: 100%;
  color: white;
  max-width: 100%;
  width:100%;
  margin: auto;
}

@media (min-width: 768px) {
  .dashboard-content.expanded {
    padding-left: 220px !important;
  }
}
.form-group {
  margin-bottom: 8px;
}
.notifications {
  color: black;
  margin: 20px;
}
