.dashBoard-content {
  padding-left: 20px !important;
  height: 100%;
  color: white;
  max-width: 100%;
  width:100%;
  margin: auto;
}

@media (min-width: 768px) {
  .dashBoard-content.expanded {
    padding-left: 200px !important;
  }
}
.form-group {
  margin-bottom: 8px;
}
.notifications {
  color: black;
  margin: 20px;
}
