.dashBoard-content {
  padding-left: 200px !important;
  height: 100%;
  color: white;
  max-width: 100%;
  width:100%
}
.form-group {
  margin-bottom: 8px;
}
.notifications {
  color: black;
  margin: 20px;
}
