
.component-action {
  display: flex;
  margin: 8px;
  padding: 2px;
  min-height: 45px;
  width: 280px;
  
  background-color: rgba(244, 189, 115, 0.38);
  border: 2px solid rgb(114, 72, 9);
  border-radius: 4px;

  color: #444;
  font-weight: bold;
  font-size: small;

  background-blend-mode: color-burn;
  background-image: url("../../../assets/image/background_action.png");
  background-repeat: repeat-x;
  background-size: 400px 400px;
  background-position: -42px;

  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;

  &:hover:not(.disabled), &.valid:hover {
    background-color: rgba(252, 209, 122, 0.7);
  }

  &.place-of-power-action {
    background-color: rgba(255, 255, 255, 0.4);
    width: 320px;
  }

  &.position-1 {
    background-position: -40px -80px;
  }
  &.position-2 {
    background-position: -20px -150px;
  }

  .action-cost-part {
    flex: 0 auto;
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    align-items: center;
    border-radius: 4px;
    padding: 4px 8px 4px 4px;
    min-height: 40px;
    min-width: 40px;
    justify-content: center;
  }
  .action-gain-part {
    flex: 0 auto;
    display: flex;
    align-items: center;
  }
  
  .action-text {
    flex: 1;
    line-height: 1;
    max-width: max-content;
    &.max-60 {
      max-width: 60px;
      line-height: 1;
    }
    &.max-75 {
      max-width: 75px;
      line-height: 1;
    }
    &.max-85 {
      max-width: 85px;
      line-height: 1;
    }
    &.max-95 {
      max-width: 95px;
      line-height: 1;
    }
    &.max-125 {
      max-width: 125px;
      line-height: 1;
    }
    .large {
      font-size: large;
    }
  }
  .icon {
    flex: 0 auto;
    margin-right: 0;
  }
  .gain-icon {
    flex: 0 auto;
    flex: none;
    margin: 0 2px 0 -5px;
  }
  
  &.invalid {
    border: 1px solid darkred;
    color: darkred;
    cursor: not-allowed;
    background-color: rgba(0, 0,0 ,0.3);
  }
}