.play-area, .player-board {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  min-height: 0;
}

.play-area {
  overflow-x: auto;
}

.player-board {
  margin: 10px;
  .card-wrapper {
    margin-right: 10px;
    margin-bottom: 5px;
  }
}

.card-wrapper {
  margin: 0;
  vertical-align: middle;
  display: inline-block;
}

.card, .card-zoom-frame {
  position: absolute;
  user-select: none;
}
.card-zoom-frame, .card-zoom-frame > img {
  height: 320px;
  width: 228px;
}

$card-base: 1;
$magic-item-base: 0.764;
$place-of-power-base: 1.258;

$card-ratio: 0.708;
$magic-item-ratio: 0.706;
$place-of-power-ratio: 0.714;

$x-small: 91px;
$small: 121px;
$normal: 151px;
$large: 181px;
$x-large: 211px;
$xx-large: 241px;

@mixin aspect-ratio($height, $ratio) {
  height: $height;
  width: ($height * $ratio);

  &.tapped {
    width: $height;
    height: $height * $ratio;
    img {
      top: ($height * $ratio - $height) /2;
      left: ($height - $height * $ratio) /2;
    }
  }
}

@mixin sizing($ratio, $base) {
  &.x-small{
    @include aspect-ratio($x-small * $base, $ratio);
  }
  &.small {
    @include aspect-ratio($small * $base, $ratio);
  }
  &.normal {
    @include aspect-ratio($normal * $base, $ratio);
  }
  &.large {
    @include aspect-ratio($large * $base, $ratio);
  }
  &.x-large {
    @include aspect-ratio($x-large * $base, $ratio);
  }
  &.xx-large {
    @include aspect-ratio($xx-large * $base, $ratio);
  }
}

.card {
  @include sizing($card-ratio, $card-base);
}
.magic-item {
  @include sizing($magic-item-ratio, $magic-item-base);
}
.place-of-power {
  @include sizing($place-of-power-ratio, $place-of-power-base);
}

/* Card row */
.card-row {
  margin-bottom: 10px;
  margin-top: 10px;
  
  &.small {
    min-height: $normal;
  }
  &.normal {
    min-height: $large;
  }
  &.large {
    min-height: $x-large;
  }
  &.x-large {
    min-height: $xx-large;
  }
}

.tapped img {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

div.magic-item, div.card, div.place-of-power {
  margin: 0 0 0 5px;
}

.magic-item, .card, .place-of-power {
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 0 0 12px rgba(0,0,0,.4), inset 0 0 0 1px hsla(0,0%,100%,.1);
  overflow: hidden;
  z-index: 10;
  user-select: none;
}

.card-name {
  font-size: .8em;
  font-family: Lucida Sans,Lucida Sans Regular,Lucida Grande,Lucida Sans Unicode,Geneva,Verdana,sans-serif;
  text-transform: uppercase;
  text-align: center;
  flex: 1;
  line-height: 65px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

img {
  vertical-align: middle;
  border: 0;
}

.card-image {
  left: 0;
  position: absolute;
  top: 0;
  pointer-events: none;
}

.active {
  &.card, &.magic-item, &.place-of-power{
    box-shadow: 0 0 2pt 2pt #F5B041;
  }
}
.invalid .active {
  &.card, &.magic-item, &.place-of-power{
    box-shadow: 0 0 2pt 2pt #F22C2C;
  }
}

.ignore-mouse-events {
  pointer-events: none;
}

.card-zoomed {
  position: relative;
  width: 100%;
  height: 100%;
}

.card-zoomed > img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  z-index: 10;
}
