.sidebar.expanded {
  width: 200px;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 40px;
  bottom: 0;
  background-color: rgba(34,34,34,.8);
  z-index: 100;
  overflow-y: auto;
  color: #c1c2c3;
  border-right: 1px solid #F5B041;
}

.sidebar-right {
  width: 300px;
  min-width: 300px;
  position: fixed;
  right: 0;
  top: 40px;
  bottom: 0;
  background-color: rgba(34,34,34,.8);
  z-index: 100;
  overflow-y: auto;
  color: #c1c2c3;
  border-left: 1px solid #F5B041;
}

.sidebar-header {
  text-align: center;
  margin: 5px;
  font-weight: 700;
}

.pull-right {
    float: right!important;
}

.close {
  position: absolute;
  font-size: 1rem;
  color: white;
  opacity: .75;
  right: 4px;
  margin: 3px 5px;
  z-index: 100;
}
.close:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
  opacity: 1;
}

.user-row {
    text-align: left;
    font-weight: 400;
    padding-top: 5px;
    padding-left: 10px;
}
.user-row:hover {
    background-color: rgba(91,192,222,.2);
}
