.game-board {
  background-color: rgba(34,34,34,.8);
  height: 100%;
  width:100%;
}

.bgio-client {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.board-vertical {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.common-board {
  display: inline-block;
  position: relative;
  /*background-color: rgba(34,34,34,.8);*/
  overflow-y: auto;
  color: #c1c2c3;
  border-right: 1px solid #F5B041;
  resize: horizontal;
  max-width: 575px;
  min-width: 180px;
  text-align: center;
}

.board {
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow-y: auto;
  color: white;
}

.right-panel {
  display: flex;
  overflow-y: auto;
  color: #c1c2c3;
  border-left: 1px solid #F5B041;
  min-width: 180px;
}

.right-panel .chat-container {
  width: 300px;
}

.right-panel .chat-panel {
  border: none;
}

.right-panel .chat-area {
  position: absolute;
  top: 0px;
  bottom: 34px;
  left: 8px;
  right: 10px;
}

.right-panel .chat-name {
  display: none;
}

.right-panel .send-form {
  position: absolute;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.common-board.x-small, .common-board.small {
  width: 230px;
}

.common-board.normal, .common-board.large {
  width: 328px;
}

.common-board.x-large {
  width: 360px;
}

.game-board .card-zoom-frame {
  position: absolute;
  top: 45px;
  right: 0px;
}

.draft-card-container {
  margin: 10px;
  width: 100%;
}

.draft-card-panel {
  display: block;
  margin: 0 auto;
  background-color: rgba(34,34,34,.8);
  padding: 20px;
  border : 1px solid #F5B041;
  min-width: 320px;
}
.draft-card-container h5, .common-board h5 {
  text-align: center;
}

.draft-card {
  display: table;
  margin: auto;
}

.first-player, .first-player > img {
  height: 40px;
  width: 40px;
}

.first-player.large, .first-player.large > img,
.first-player.x-large, .first-player.x-large > img {
  height: 45px;
  width: 45px;
}

.ruban {
  height: 50px;
  background-color: rgba(34,34,34,.8);
  border-bottom : 1px solid #F5B041;
  border-top : 1px solid #F5B041;
}

.ruban div {
  display: inline-block;
}