@import '../../common/card/card.scss';

.game-board {
  background-color: rgba(34,34,34,.8);
  height: 100%;
  width:100%;
}

.bgio-client {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.debug-ui {
  z-index: 999;
}
.board-vertical {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.common-board {
  display: inline-block;
  position: relative;
  background-color: rgba(34,34,34,.8);
  overflow-y: auto;
  color: #c1c2c3;
  border-right: 1px solid #F5B041;
  resize: horizontal;
  max-width: 680px;
  min-width: 180px;
  text-align: center;
  flex-shrink: 0;
  margin-left: -15px;
}
.monuments-revealed {
  display: inline-block;
}

.board {
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow-y: auto;
  color: white;
}

.right-panel {
  display: flex;
  overflow-y: auto;
  color: #c1c2c3;
  border-left: 1px solid #F5B041;
  flex-shrink: 0;
}

.right-panel .chat-container {
  width: 250px;
}

.right-panel .chat-panel {
  border: none;
}

.right-panel .chat-area {
  position: absolute;
  top: 0px;
  bottom: 34px;
  left: 8px;
  right: 10px;
}

.right-panel .chat-name {
  display: none;
}

.right-panel .send-form {
  position: absolute;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.common-board.x-small, .common-board.small {
  width: 296px;
}
.common-board.normal {
  width: 360px;
}
.common-board.large {
  width: 360px;
}
.common-board.x-large {
  width: 425px;
}

.game-board .card-zoom-frame {
  position: absolute;
  top: 45px;
  right: 0px;
}
.card-zoom-frame {
  z-index: 20;
  &.focus {
    z-index: 40;
  }
}
.board-container {
  flex-shrink: 0;
  width: fit-content;
  min-width: 100%;
}
.board-container h5, .common-board h5 {
  text-align: center;
}

.dialog-panel {
  display: block;
  margin: 0 auto;
  padding: 8px;
  background-color: rgba(150,100,50,0.3);
  min-width: 320px;

  .card-row {
    margin: auto;
    text-align: center;
    
    .card, .magic-item, .monument, .place-of-power {
      z-index: 30;
    }

    &.action.small {
      min-height: $normal + 52;
    }
    &.action.normal {
      min-height: $large + 52;
    }
    &.action.large {
      min-height: $x-large + 62;
    }
    &.action.x-large {
      min-height: $xx-large + 70;
    }

    .action-container {
      flex: 1;
      align-items: center;
      display: flex;
      justify-content: center;

      .card.active, .place-of-power.active {
        box-shadow: none;
      }
      .action-row {
        display: inline-grid;
        grid-template-columns: 1fr;

        &.double {
          grid-template-columns: 1fr 1fr;
        }
      }
      .action-component {
        text-align: right;
      }
    }
  }

  .action-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 15px;

    &.row-list {
      flex-direction: row;
      .option {
        min-width: 120px;
        text-align: center;
      }
    }

    .option {
      text-align: left;
      min-height: 35px;
      background-color: rgba(150,100,50,0.3);
      padding: 5px 10px;
      border-radius: 4px;
      margin-bottom: 8px;
      border: 1px solid rgba(245,176,65,0.7);

      &:hover {
        background-color: rgba(150,100,50,0.6);
        border: 1px solid rgba(245,176,65,1);
        cursor: pointer;
      }

      .inline-text {
        vertical-align: -webkit-baseline-middle;
      }

      &.pass {
        width: 120px;
        text-align: center;
      }
    }
  }
}

.info {
  text-align: center;
}

.ruban {
  height: 50px;
  line-height: 50px;
  background-color: rgba(63,46,33,.8);
  background-blend-mode: luminosity;
  background-image: url("../../../assets/image/ruban.png");
  background-repeat: repeat-x;
  background-size: 920px 50px;
  white-space: nowrap;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.ruban.passed {
  background-color: rgba(63,90,115,.8);
}

.ruban.active-player {
  background-color: rgba(63,96,68,.8)
}

.ruban > div {
  display: inline-grid;
}

.leftCell {
  display: inline-grid;
  justify-items: start;
  grid-template-columns: 50px 1fr;
}
.rightCell {
  display: inline-grid;
  justify-items: end;
  grid-template-columns: 1fr 60px;
}

.player-name {
  text-align: center;
  font-size: larger;
  padding-left: 4px;
  padding-right: 4px;
  min-width: 100px;
}

.ruban .player-name {
  text-align: left;
}

.first-player {
  width: 44px;
}
.first-player > img {
  height: 40px;
  width: 40px;
  position: relative;
  top: -2px;
  left: 2px;
}

.player-pool {
  margin-left: 20px;
}

.essence {
  display: inline-block;
  color: ghostwhite;
  font-weight: bold;
  font-size: large;
  text-align: center;
  background-image: url("../../../assets/image/essences.png");
  background-repeat: no-repeat;
  background-size: 220px;
  height: 50px;
  width: 40px;
  margin-left: 8px;
  padding-top: 2px;
  vertical-align: top;
}

.essence.elan {
  background-position: 4px 5px;
}

.essence.life {
  background-position: -43px 5px;
}

.essence.calm {
  background-position: -90px 5px;
}

.essence.death {
  background-position: -137px 5px;
}

.essence.gold {
  background-position: -184px 5px;
}

.any {
background-position: -23px -81px;
}

.anyButGold {
text-align: left;
background-position: -74px -81px;
width: 61px;
}

.anyButDeathGold {
  text-align: left;
background-position: -151px -81px;
width: 75px;
}

.cards-in-hand {
  display: inline-block;
  color: ghostwhite;
  font-weight: bold;
  font-size: large;
  text-align: center;
  background-image: url("../../../assets/image/cards.png");
  background-repeat: no-repeat;
  background-size: 34px;
  height: 50px;
  width: 40px;
  margin-left: 20px;
  padding-top: 2px;
  vertical-align: top;
  background-position: 0 5px;
}

.draw-pile {
  position: relative;
  margin-right: 58px;
  margin-left: 20px;
  float: right;
  right: 16px;
}
.x-small .draw-pile {
  margin-right: 34px;
}
.small .draw-pile {
  margin-right: 46px;
}
.large .draw-pile {
  margin-right: 70px;
}
.x-large .draw-pile {
  margin-right: 82px;
}

.x-small .component-legend, .small .component-legend {
  display: none;
}
.component-legend {
  color: white;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 12;
  padding: 1px 4px;
  font-size: 12px;
  line-height: 14px;
  background-color: rgba(34,34,34,.8);
  text-shadow: 1px 1px 2px #000;
}

.component-container {
  z-index: 1;
}

.discard {
  position: absolute;
  bottom: 3px;
  left: 15px;
}

.discard .component-legend {
  left: unset;
  right: 0;
}

.close-chat {
  position: absolute;
  right: 4px;
  top: 42px;
}

.in-play div {
  vertical-align: middle;
}

.directive {
  margin-bottom: -10px;
  margin-top: 10px;
  height: 38px;
  vertical-align: -webkit-baseline-middle;

  .essence {
    line-height: 1.5;
    height: 31px;
  }
}

.inline-text {
  display: inline-block;
  vertical-align: top;

  .essence {
    margin-top: -5px;
  }
}