.game-board {
  background-color: rgba(34,34,34,.8);
  height: 100%;
  width:100%;
}

.bgio-client {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.debug-ui {
  z-index: 9999;
}
.board-vertical {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.common-board {
  display: inline-block;
  position: relative;
  background-color: rgba(34,34,34,.8);
  overflow-y: auto;
  color: #c1c2c3;
  border-right: 1px solid #F5B041;
  resize: horizontal;
  max-width: 575px;
  min-width: 180px;
  text-align: center;
  flex-shrink: 0;
}

.board {
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow-y: auto;
  color: white;
}

.right-panel {
  display: flex;
  overflow-y: auto;
  color: #c1c2c3;
  border-left: 1px solid #F5B041;
  flex-shrink: 0;
}

.right-panel .chat-container {
  width: 250px;
}

.right-panel .chat-panel {
  border: none;
}

.right-panel .chat-area {
  position: absolute;
  top: 0px;
  bottom: 34px;
  left: 8px;
  right: 10px;
}

.right-panel .chat-name {
  display: none;
}

.right-panel .send-form {
  position: absolute;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.common-board.x-small, .common-board.small {
  width: 230px;
}

.common-board.normal, .common-board.large {
  width: 340px;
}

.common-board.x-large {
  width: 360px;
}

.game-board .card-zoom-frame {
  position: absolute;
  top: 45px;
  right: 0px;
}

.board-container {
  flex-shrink: 0;
  width: fit-content;
  min-width: 100%;
}

.draft-card-panel {
  display: block;
  margin: 0 auto;
  padding: 8px;
  background-color: rgba(150,100,50,0.3);
  min-width: 320px;
}
.board-container h5, .common-board h5 {
  text-align: center;
}

.draft-card {
  margin: auto;
  text-align: center;
}

.info {
  text-align: center;
}

.ruban {
  height: 50px;
  line-height: 50px;
  background-color: rgba(63,46,33,.8);
  background-blend-mode: luminosity;
  background-image: url("../../../assets/image/ruban.png");
  background-repeat: repeat-x;
  background-size: 920px 50px;
  white-space: nowrap;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.ruban.passed {
  background-color: rgba(63,90,115,.8);
}

.ruban.active-player {
  background-color: rgba(63,96,68,.8)
}

.ruban > div {
  display: inline-grid;
}

.leftCell {
  display: inline-grid;
  justify-items: start;
  grid-template-columns: 50px 1fr;
}
.rightCell {
  display: inline-grid;
  justify-items: end;
  grid-template-columns: 1fr 60px;
}

.player-name {
  text-align: center;
  font-size: larger;
  padding-left: 4px;
  padding-right: 4px;
  min-width: 100px;
}

.ruban .player-name {
  text-align: left;
}

.first-player {
  width: 44px;
}
.first-player > img {
  height: 40px;
  width: 40px;
  position: relative;
  top: -2px;
  left: 2px;
}

.player-pool {
  margin-left: 20px;
}

.essence {
  display: inline-block;
  color: ghostwhite;
  font-weight: bold;
  font-size: large;
  text-align: center;
  background-image: url("../../../assets/image/essences.png");
  background-repeat: no-repeat;
  background-size: 220px;
  height: 50px;
  width: 40px;
  margin-left: 8px;
  padding-top: 2px;
  vertical-align: top;
}

.essence.elan {
  background-position: 4px 5px;
}

.essence.life {
  background-position: -43px 5px;
}

.essence.calm {
  background-position: -90px 5px;
}

.essence.death {
  background-position: -137px 5px;
}

.essence.gold {
  background-position: -184px 5px;
}

.any {
background-position: -23px -81px;
}

.anyButGold {
text-align: left;
background-position: -74px -81px;
width: 61px;
}

.anyButDeathGold {
  text-align: left;
background-position: -151px -81px;
width: 75px;
}

.cards-in-hand {
  display: inline-block;
  color: ghostwhite;
  font-weight: bold;
  font-size: large;
  text-align: center;
  background-image: url("../../../assets/image/cards.png");
  background-repeat: no-repeat;
  background-size: 34px;
  height: 50px;
  width: 40px;
  margin-left: 20px;
  padding-top: 2px;
  vertical-align: top;
  background-position: 0 5px;
}

.draw-pile {
  position: relative;
  margin-right: 58px;
  margin-left: 20px;
  float: right;
  right: 16px;
}
.x-small .draw-pile {
  margin-right: 34px;
}
.small .draw-pile {
  margin-right: 46px;
}
.large .draw-pile {
  margin-right: 70px;
}
.x-large .draw-pile {
  margin-right: 82px;
}

.x-small .component-legend, .small .component-legend {
  display: none;
}
.component-legend {
  color: white;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 20;
  padding: 1px 4px;
  font-size: 12px;
  line-height: 14px;
  background-color: rgba(34,34,34,.8);
  text-shadow: 1px 1px 2px #000;
}

.component-container {
  z-index: 1;
}

.discard {
  position: absolute;
  bottom: 3px;
  left: 15px;
}

.discard .component-legend {
  left: unset;
  right: 0;
}

.close-chat {
  position: absolute;
  right: 4px;
  top: 42px;
}

.in-play div {
  vertical-align: middle;
}