@import './icons.scss';
@import '../../common/card/card.scss';

.game-board {
  background-color: rgba(34,34,34,.8);
  height: 100%;
  width:100%;
  position: relative;
}

.bgio-client {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.debug-ui {
  z-index: 999;
}
.board-vertical {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.common-board {
  display: inline-block;
  position: relative;
  background-color: rgba(34,34,34,.8);
  overflow-y: auto;
  color: #c1c2c3;
  border-right: 1px solid #F5B041;
  resize: horizontal;
  max-width: 680px;
  min-width: 180px;
  text-align: center;
  flex-shrink: 0;
  margin-left: -15px;

  .components {
    position: relative;
  }
}

@media (max-width: 768px) {
  .common-board {
    position: absolute;
    z-index: 300;
    height: 100%;
  }
}

.monuments-revealed {
  display: inline-block;
}

.board {
  display: flex;
  flex: auto;
  flex-direction: column;
  overflow-y: auto;
  color: white;
}

.right-panel {
  display: flex;
  overflow-y: auto;
  color: #c1c2c3;
  border-left: 1px solid #F5B041;
  flex-shrink: 0;
}

.right-panel .chat-container {
  width: 250px;
}

.right-panel .chat-panel {
  border: none;
}

.right-panel .chat-area {
  position: absolute;
  top: 0px;
  bottom: 34px;
  left: 8px;
  right: 10px;
}

.right-panel .chat-name {
  display: none;
}

.right-panel .send-form {
  position: absolute;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.common-board.x-small, .common-board.small {
  width: 296px;
}
.common-board.normal {
  width: 360px;
}
.common-board.large {
  width: 360px;
}
.common-board.x-large {
  width: 425px;
}

.card-zoom-frame {
  position: absolute;
  right: 0px;
  z-index: 20;

  &.focus {
    z-index: 40;
  }
}
.board-container {
  flex-shrink: 0;
  width: fit-content;
  min-width: 100%;
}
.board-container h5, .common-board h5 {
  text-align: center;
}

.dialog-panel {
  display: block;
  margin: 0 auto;
  padding: 8px;
  background-color: rgba(150,100,50,0.3);
  min-width: 320px;

  .card-row {
    position: relative;
    margin: auto;
    text-align: center;
    
    .card, .magic-item, .monument, .place-of-power {
      z-index: 30;
    }

    &.action-row.small {
      min-height: $normal + 65;
    }
    &.action-row.normal {
      min-height: $large + 55;
    }
    &.action-row.large {
      min-height: $x-large + 65;
    }
    &.action-row.x-large {
      min-height: $xx-large + 70;
    }

    .action-container {
      flex: 1;
      display: flex;
      justify-content: center;
      z-index: 1;
      
      .card.active, .place-of-power.active, .in-hand .magic-item.active {
        box-shadow: none;
      }
      .action-row {
        display: inline-grid;
        grid-template-columns: 1fr;
        
        &.double {
          grid-template-columns: 1fr 1fr;
        }
      }
      .action-component {
        display: inline-block;
        align-self: center;
        flex: 1;
        min-width: 545px;

        > div {
          display: inline-block;
          vertical-align: -webkit-baseline-middle;
          vertical-align: middle;
        }
      }
      .card, .magic-item {
        margin-bottom: 10px;
      }
    }
  }

  .action-list, .button-list {
    display: flex;

    .action-button {
      display: flex;
      min-height: 45px;
      padding: 2px;
      width: 190px;

      background-color: rgba(244, 189, 115, 0.38);
      border: 2px solid rgb(114, 72, 9);
      border-radius: 4px;

      color: #444;
      font-weight: bold;
      font-size: medium;
      
      background-blend-mode: color-burn;
      background-image: url("../../../assets/image/background_action.png");
      background-repeat: repeat-x;
      background-size: 400px 400px;
      background-position: -42px;

      align-items: center;
      text-align: center;
      justify-content: center;
      cursor: pointer;
      
      .inline-text {
        vertical-align: -webkit-baseline-middle;
        vertical-align: -moz-middle-with-baseline;
      }
      &:hover:not(.disabled), &.valid:hover {
        background-color: rgba(252, 209, 122, 0.7);
      }

      &.disabled {
        cursor: not-allowed;
        background-color: rgba(0, 0,0 ,0.3);
      }

      &.invalid {
        border: 1px solid darkred;
        color: darkred;
      }
    }
  }

  .button-list {
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 45px;
  
    .action-button {
      text-align: center;
      margin: auto;
      user-select: none;
    }
  }

  .action-list {
    display: inline-block;
    flex-direction: column;
    padding: 0 15px;
    flex: 1;
    z-index: 1;
    justify-content: center;
    min-width: 260px;

    h5 {
      text-align: left;
    }
    
    .action-button {
      height: 43px;
      text-align: left;
      margin: 8px;
      padding: 2px 2px 2px 10px;
      justify-content: left;
      
      .inline-icons {
        margin-left: 4px;
        margin-top: -2px;
      }
      
      @media (max-width: 768px) {
        margin: 2px;
      }
    }

    .essence-picker {
      width: fit-content;
    }
  }
  
}

.inline-text {
  display: inline-block;
  vertical-align: top;
}

.inline-icons {
  display: inline-block;
  vertical-align: top;
  
  .icons {
    display: inline-block;
    vertical-align: bottom;
    line-height:0;
  }
}
.info {
  text-align: center;
  margin: 8px auto;
}

.ruban {
  height: 50px;
  line-height: 50px;
  background-color: rgba(63,46,33,.8);
  background-blend-mode: luminosity;
  background-image: url("../../../assets/image/background_ruban.png");
  background-repeat: repeat-x;
  background-size: 920px 50px;
  white-space: nowrap;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.ruban.passed {
  background-color: rgba(63,90,115,.8);
}

.ruban.active-player {
  background-color: rgba(63,96,68,.8)
}

.ruban > div {
  display: inline-grid;
}

.leftCell {
  display: inline-grid;
  justify-items: start;
  grid-template-columns: 50px 1fr;
}
.rightCell {
  display: inline-grid;
  justify-items: end;
  grid-template-columns: 1fr 60px;
}

.player-name {
  text-align: center;
  font-size: larger;
  padding-left: 4px;
  padding-right: 4px;
  min-width: 100px;
}

.ruban .player-name {
  text-align: left;
}

.first-player {
  width: 44px;
}
.first-player > img {
  height: 40px;
  width: 40px;
  position: relative;
  top: -2px;
  left: 2px;
  user-select: none;
}

.player-pool {
  margin-left: 20px;
  padding-top: 5px;
}

.draw-pile {
  position: relative;
  margin-left: 74px;
  float: right;
  right: 16px;
}
.small .draw-pile {
  margin-left: 62px;
}
.large .draw-pile {
  margin-left: 80px;
}
.x-large .draw-pile {
  margin-left: 86px;
}

.x-small .component-legend, .small .component-legend {
  display: none;
}

.component-legend {
  color: white;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 12;
  padding: 1px 4px;
  font-size: 12px;
  line-height: 14px;
  background-color: rgba(34,34,34,.8);
  text-shadow: 1px 1px 2px #000;
}

.component-container {
  z-index: 1;
}

.discard {
  position: absolute;
  bottom: 3px;
  right: 15px;
}

.discard .component-legend {
  left: unset;
  left: 0;
}

.close-chat {
  position: absolute;
}

.in-play {
  .card, .place-of-power, .magic-item {
    vertical-align: top;
  }
  .card, .place-of-power {
    margin-bottom: 10px;
  }
}

.directive {
  margin-bottom: 4px;
  margin-top: 4px;
  height: 38px;
  font-size: 1.15rem;
  line-height: 2;
  z-index: 2;

  .operator, .operator {
    font-size: 0.875em;
  }

  .inline-icons {
    margin-left: 4px;
    margin-top: -11px;
  }
}
.component-cost {
  padding: 0 15px;
}
.cost-frame {
  display: flex;
  background-image: url("../../../assets/image/cost-frame-content.png");
  background-repeat: repeat-y;
  background-size: 42px 1px;
  background-position: 1px 0px;
  height: max-content;
  padding-left: -2px;
  width: 44px;
  position: relative;

  .single-essence.essence {
    margin-left: 4px;
  }

  .cost-frame-content {
    display: inline-block;
    z-index: 9;
  }

  &:before {
    content: "";
    display: inline-block;
    background-image: url("../../../assets/image/cost-frame-before.png");
    background-size: 46px 8px;
    background-position: 0px 2px;
    background-repeat: no-repeat;
    position: absolute;
    height: 11px;
    width: 46px;
    top: -9px;
    left: -1px;
    z-index: 10;
  }

  &:after {
    content: "";
    display: inline-block;
    background-image: url("../../../assets/image/cost-frame-after.png");
    background-size: 42px 15px;
    background-position: 1px 2px;
    background-repeat: no-repeat;
    position: absolute;
    height: 17px;
    width: 44px;
    left: 0;
    bottom: -14px;
    z-index: 10;
  }
}

.cost-container {
  display: inline-block;
  flex: 1;
  text-align: left;
  margin-right: 20px;
  
  h5 {
    text-align: left;
  }
  .cost-source {
    margin-left: 5px;
    font-size: 1.15rem;
    line-height: 2;
  }
}

.large, .x-large {
  .same-type-icon {
    @extend .game-icon;
    background-position: 0 8px;
    background-size: 35px;
    height: 50px;
    width: 40px;
  }


}

.delete-cursor {
  cursor: url("../../../assets/image/delete-cursor.png") 8 8, auto;
}

.pointer-cursor {
  cursor: pointer;
}

.not-allowed-cursor {
  cursor: not-allowed;
}


// CollectComponent
.essence-picker {
  display: inline-block;
  vertical-align: top;
}
