@import './icons.scss';

.essence {
  @extend .game-icon;
  background-size: 780px 100px;
  line-height: 2.5;
  height: 40px;
  width: 40px;
  margin: 0;
  position: relative;
  user-select: none;
  vertical-align: top;
  
  &.elan {
    background-position: 4px 0;
  }
  &.life {
    background-position: -35px 0;
  }
  &.calm {
    background-position: -75px 0;
  }
  &.death {
    background-position: -115px 0;
  }
  &.gold {
    background-position: -155px 0;
  }
  &.any {
    background-position: -199px 0;
  }
  &.any-but-gold {
    background-position: -243px 0;
    font-size: large;
    padding-left: 17px;
    text-align: left;
    width: 78px;
    
    &.modifier {
      padding-left: 10px;
    }
  }
  &.any-but-death-gold {
    background-position: -325px 0;
    font-size: large;
    padding-left: 15px;
    text-align: left;
    width: 104px;
  }
  &.any-but-life-gold {
    background-position: -433px 0;
    font-size: large;
    padding-left: 15px;
    text-align: left;
    width: 104px;
  }
  &.any-same-type {
    background-position: -540px 0;
  }
  &.any-same-type-but-gold {
    background-position: -582px 0;
    width: 78px;
  }
  &.life-loss {
    background-position: -664px 0;
    width: 45px;
  }
  
  &.zero-essence {
    background: none;
    color: #957357;
    line-height: 1.8;
    font-weight: bolder;
    font-size: x-large;
    padding-left: 12px;
    text-align: left;
  }
  
  .qm {
    display: block;
    height: 16px;
    width: 10px;
    margin: 10px auto;
    background-image: url("../../../assets/image/game_icons.png");
    background-size: 780px 100px;
    background-position: -518px -55px;
    background-repeat: no-repeat;
  }
}

.essence.sm {
  @extend .game-icon;
  background-size: 585px 77px;
  line-height: 2.2;
  height: 32px;
  width: 32px;
  margin: 0;
  font-size: initial;
  
  &.elan {
    background-position: 4px 0;
  }
  &.life {
    background-position: -25px 0;
  }
  &.calm {
    background-position: -55px 0;
  }
  &.death {
    background-position: -85px 0;
  }
  &.gold {
    background-position: -115px 0;
  }
  &.any {
    background-position: -148px 0;
  }
  &.any-but-gold {
    background-position: -184px 0;
    padding-left: 10px;
    text-align: left;
    width: 56px;
    
    &.modifier {
      padding-left: 5px;
    }
  }
  &.any-but-death-gold {
    background-position: -235px 0;
    padding-left: 10px;
    text-align: left;
    width: 77px;
  }
  &.any-but-life-gold {
    background-position: -325px 0;
    padding-left: 10px;
    text-align: left;
    width: 77px;
  }
  &.any-same-type {
    background-position: -404px 0;
  }
  &.any-same-type-but-gold {
    background-position: -438px 0;
    width: 55px;
  }
  &.life-loss {
    background-position: -497px 0;
    width: 34px;
    padding-left: 5px;
  }
  
  &.zero-essence {
    background: none;
    color: #957357;
    line-height: 1.8;
    font-weight: bolder;
    font-size: x-large;
    padding-left: 12px;
    text-align: left;
  }
  
  .cost {
    display: block;
    position: absolute;
    left: 2px;
    bottom: 0;
    height: 12px;
    width: 12px;
    background-image: url("../../../assets/image/game_icons.png");
    background-size: 250px 31px;
    background-position: -153px -14px;
    background-repeat: no-repeat;
  }
  
  .qm {
    display: block;
    height: 16px;
    width: 10px;
    margin: 10px auto;
    background-image: url("../../../assets/image/game_icons.png");
    background-size: 566px 75px;
    background-position: -375px -44px;
    background-repeat: no-repeat;
  }
}

.essence-on-component {
  position: relative;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  z-index: 32;

  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  .essence-wrapper {
    display: inline-block;
    vertical-align: middle;
  }
}

.large .essence-on-component {
  width: 125px;
}
.x-large .essence-on-component {
  width: 150px;
}

.collect-options {
  min-height: 46px;
  min-width: 110px;
  padding-left: 5px;
  margin-bottom: 4px;
  line-height: 2.2;

  .collect-option {
    display: inline-block;
    vertical-align: bottom;
    line-height:0;
  }
  
  .fade-option {
    opacity: 0.2;
  }

  &.collect-info {
    display: inline-block;
    vertical-align: middle;
    min-width: unset;
    padding-left: unset;
  }
  &.no-min-height {
    min-height: 0;
  }

  .on-component-icon {
    background-size: 770px 98px;
    background-position: -89px -44px;
    height: 40px;
    width: 24px;
  }
  
  .turn-component-icon {
    background-size: 770px 98px;
    background-position: -114px -44px;
    height: 40px;
    width: 33px;
  }
}

.cost-container {
  position: relative;
}

.cost {
  display: block;
  position: absolute;
  left: 2px;
  bottom: 0;
  height: 16px;
  width: 16px;
  background-image: url("../../../assets/image/game_icons.png");
  background-size: 310px 38px;
  background-position: -190px -16px;
  background-repeat: no-repeat;
}

.pay-ok {
  display: block;
  position: absolute;
  left: 2px;
  bottom: 0;
  height: 16px;
  width: 16px;
  background-image: url("../../../assets/image/game_icons.png");
  background-size: 310px 38px;
  background-position: -174px -16px;
  background-repeat: no-repeat;
}

.operator {
  display: inline-block;
  padding-top: 16px;
  padding-left: 2px;
}

.card-zoom-frame {
  &.x-small, &.small, &.normal, &.large, &.x-large {
    .essence-on-component {
      top: 0px;
      height: 50px;
      width: 100%;
      background: black;
    }
  }
}
