
.essence {
  display: inline-block;
  color: ghostwhite;
  font-weight: bold;
  font-size: large;
  line-height:0;
  text-align: center;
  background-image: url("../../../assets/image/essences.png");
  background-repeat: no-repeat;
  background-size: 540px 38px;
  height: 50px;
  width: 40px;
  margin: 0 2px;
  padding-top: 26px;
  vertical-align: top;
  
  &.elan {
    background-position: 4px 5px;
  }
  &.life {
    background-position: -43px 5px;
  }
  &.calm {
    background-position: -90px 5px;
  }
  &.death {
    background-position: -138px 5px;
  }
  &.gold {
    background-position: -185px 5px;
  }
  &.any {
    background-position: -210px 5px;
  }
  &.any-but-gold {
    background-position: -229px 0;
    font-size: large;
    padding-left: 15px;
    padding-top: 22px;
    text-align: left;
    width: 84px;
  }
  &.any-but-death-gold {
    background-position: -317px 0;
    font-size: large;
    padding-left: 15px;
    padding-top: 22px;
    text-align: left;
    width: 107px;
  }
}

.small, .normal {
  .essence {
    @extend .essence;
    background-size: 425px 30px;
    height: 35px;
    width: 30px;
    padding-top: 16px;
    vertical-align: top;
    text-align: center;

    &.elan {
      background-position: 3px 0;
    }
    &.life {
      background-position: -34px 0;
    }
    &.calm {
      background-position: -71px 0;
    }
    &.death {
      background-position: -109px 0;
    }
    &.gold {
      background-position: -146px 0;
    }    
    &.any {
      background-position: -180px 0;
      width: 32px;
    }
    &.any-but-gold {
      background-position: -180px 0;
      font-size: large;
      padding-left: 11px;
      text-align: left;
      width: 65px;
    }
    &.any-but-death-gold {
      background-position: -249px 0;
      font-size: large;
      padding-left: 11px;
      text-align: left;
      width: 86px;
    }
  }
}

.essence-on-component {
  position: relative;
  z-index: 32;
  text-align: center;
  vertical-align: middle;
  height: 100%;

  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  .essence-wrapper {
    display: inline-block;
    vertical-align: middle;
  }
}

.large .essence-on-component {
  width: 125px;
}
.x-large .essence-on-component {
  width: 150px;
}

.collect-options {
  min-height: 37px;
  padding-left: 5px;

  .collect-option {
    display: inline-block;
    vertical-align: bottom;
    line-height:0;
  }
  
  .fade-option {
    opacity: 0.2;
  }

  &.collect-info {
    display: inline-block;
    vertical-align: middle;
  }

  .option-reset {
    font-size: 1rem;
    opacity: 0.5;
    margin-left: 4px;
    color: white;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
    
    &:not(:disabled):not(.disabled):focus, &:not(:disabled):not(.disabled):hover {
      opacity: 0.75;
    }
  }

  .option-and, .option-or, .option-reset {
    display: inline-block;
    padding-top: 10px;
    padding-left: 2px;
  }
}

.large, .x-large {
  .collect-options {
    min-height: 50px;
    
    .option-and, .option-or, .option-reset {
      display: inline-block;
      padding-top: 18px;
      padding-left: 2px;
    }
  }
}

.cost-container {
  position: relative;
}

.cost {
  display: block;
  position: absolute;
  left: 2px;
  bottom: 0;
  height: 16px;
  width: 16px;
  background-image: url("../../../assets/image/delete.png");
  background-size: 14px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.card-zoom-frame {
  &.x-small, &.small, &.normal, &.large, &.x-large {
    .essence-on-component {
      top: 0px;
      height: 50px;
      width: 100%;
      background: black;
    }
  }
}
