.game-icon {
  background-image: url("../../../assets/image/game_icons.png");
  display: inline-block;
  color: ghostwhite;
  font-weight: bold;
  font-size: large;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 725px 89px;
  height: 28px;
  width: 24px;
  margin-right: 4px;
  padding-top: 0px;
  vertical-align: top;
}

.collect-icon {
  @extend .game-icon;
  background-position: -28px -46px;
  width: 28px;
}
.placement-cost-icon {
  @extend .game-icon;
  background-size: 750px 95px;
  background-position: -2px -45px;
  width: 28px;
  height: 37px;

  .zero {
    background: none;
    color: #957357;
    line-height: 1.8;
    font-weight: bolder;
    font-size: larger;
    margin-top: -5px;
    padding-left: 6px;
    padding-top: 3px;
    text-align: left;
  }
}
.dragon-icon {
  @extend .game-icon;
  background-size: 750px 95px;
  background-position: -211px -48px;
  width: 24px;
  height: 30px;
}
.creature-icon {
  @extend .game-icon;
  background-size: 750px 95px;
  background-position: -236px -49px;
  width: 24px;
  height: 30px;
}
.component-icon {
  @extend .game-icon;
  background-position: -57px -44px;
  height: 32px;
  width: 25px;
}
.on-component-icon {
  @extend .game-icon;
  background-position: -82px -41px;
  height: 34px;
  width: 25px;
}
.turn-component-icon {
  @extend .game-icon;
  background-position: -108px -43px;
  height: 32px;
  width: 30px;
}
.straighten-component-icon {
  @extend .game-icon;
  background-position: -141px -43px;
  height: 32px;
  width: 28px;
}
.straighten-self-icon {
  @extend .game-icon;
  background-position: -173px -43px;
  height: 32px;
  width: 28px;
}
.turn-dragon-icon {
  @extend .game-icon;
  background-position: -255px -43px;
  height: 32px;
  width: 37px;
}
.turn-creature-icon {
  @extend .game-icon;
  background-position: -293px -43px;
  height: 32px;
  width: 37px;
}
.straighten-creature-icon {
  @extend .game-icon;
  background-size: 646px 78px;
  background-position: -298px -36px;
  height: 28px;
  width: 24px;
}
.cards-in-hand-icon {
  @extend .game-icon;
  background-size: 814px 98px;
  background-position: -421px -40px;
  height: 50px;
  width: 34px;
  margin-left: 20px;
  padding-top: 2px;
  padding-left: 6px;

  &.small {
    background-size: 528px 67px;
    background-position: -272px -31px;
    height: 26px;
    width: 24px;
    margin-top: -2px;
  }
}
.gain-icon {
  @extend .game-icon;
  background-size: 994px 150px;
  background-position: -498px -86px;
  width: 14px;
}
.qm-dark {
  display: block;
  height: 16px;
  width: 10px;
  margin: 10px auto;
  background-image: url("../../../assets/image/game_icons.png");
  background-size: 566px 75px;
  background-position: -388px -45px;
  background-repeat: no-repeat;
}