h5 {
    color: #EEE;
}
.editor-container {
  color: white;
  flex-direction: column !important;
  max-width: 100%;
  height:100%;
  width:100%;
  background-color: rgba(34,34,34,.8);

  .editor {
    width: 100%;
    height:100%;
    margin-right: 300px;
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;

    .main-section {
      height: 100%;
      width: 100%;
      display: flex;
      flex: auto;
      flex-direction: column;
      overflow-x: hidden;
      padding: 10px !important;
    }

    .side-section {
      height: 100%;
      width: 300px;
      min-width: 300px;
      max-width: 300px;
      position: relative;
      right: 0;

      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;

      background-color: rgba(34,34,34,.8);
      z-index: 100;
      overflow-y: auto;
      color: #c1c2c3;
      border-left: 1px solid #F5B041;
    }
    
    .disabled {
      color: lightgray;
    }

    .scrollable {
      flex: 1;
      overflow-y: auto;
    }

    .form-panel {
      border-width: .2rem .2rem 0;
      position: relative;
      color: white;
      padding: 1rem;
      border: 1px solid #ececec;
      margin: 0 0 20px 0;
    }

    .btn-toolbar>*+* {
      margin-left: .5em;
    }

    .input-group-prepend {
      margin: 0 2px 8px 0;
    }

    .input-group-append {
      line-height: normal;
      height: 25px;
      width: 25px;
      margin-top: 0px;
      height: 100%;
    }

    .vertical-buttons {
      .btn {
        display: block;
        margin: 0 !important;
        padding: 0;
        width: 20px;
        height: 16px;

        span {
          margin-top: -5px;
          display: block;
        }
      }
    }

    .btn.focus, .btn:focus {
      box-shadow: none;
    }

    .victory-points {
      height: 35px;
      width: 30px;
    }

    .inline-checkbox {
      display: inline-block;
      vertical-align: middle;
      margin-right: 6px;
    }
    .inline-input {
      display: inline-flex;
      margin-left: 4px;
    }
    .inline-flex {
      align-items: center;
      margin-right: .75rem;
      display: inline-flex;
    }
    .inline-block {
      display: inline-block;
    }
  }
  .icon {
    margin-top: -4px;
  }
  label div, label.inline-block div .input-group-prepend {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
  }
  .life-loss {
    margin-top: -11px;
    padding-left: 3px;
  }
  .operator {
    padding-top: 8px;
}
}
