h5 {
    color: #EEE;
}
.editor-container {
  color: white;
  flex-direction: column !important;
  max-width: 100%;
  height:100%;
  width:100%;
  background-color: rgba(34,34,34,.8);

  .editor {
    width: 100%;
    height:100%;
    margin-right: 300px;
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;

    .main-section {
      height: 100%;
      width: 100%;
      display: flex;
      flex: auto;
      flex-direction: column;
      overflow-x: hidden;
      padding: 10px !important;
    }

    .side-section {
      height: 100%;
      width: 300px;
      min-width: 300px;
      max-width: 300px;
      position: relative;
      right: 0;

      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;

      background-color: rgba(34,34,34,.8);
      z-index: 100;
      overflow-y: auto;
      color: #c1c2c3;
      border-left: 1px solid #F5B041;
    }
    
    .flex-row, .flex-row > div[class*='col-'] {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex: 0 auto;
      height: 100%;
    }
    .flex-col {
      display: flex;
      display: -webkit-flex;
      flex: 1;
      flex-flow: column nowrap;
    }
    .flex-grow {
      flex: auto;
    }
    .disabled {
      color: lightgray;
    }

    .form-panel {
      border-width: .2rem .2rem 0;
      position: relative;
      color: white;
      padding: 1rem;
      border: 1px solid #ececec;
      margin: 0 0 20px 0;
    }

    .btn-toolbar>*+* {
      margin-left: .5em;
    }

    .essence-list {
      display: inline-flex;
      margin: 0 10px;
    }
    
    .input-group-prepend {
      margin: 0 2px 8px 0;
    }

    .input-group-append {
      line-height: normal;
      height: 25px;
      width: 25px;
      margin-top: 0px;
      height: 100%;
    }

    .vertical-buttons {
      .btn {
        display: block;
        margin: 0 !important;
        padding: 0;
        width: 20px;
        height: 16px;

        span {
          margin-top: -5px;
          display: block;
        }
      }
    }

    .btn.focus, .btn:focus {
      box-shadow: none;
    }

    .essence {
      padding-left: 10px;
    }
    .victory-points {
      height: 35px;
      width: 30px;
    }
  }
}