h5 {
    color: #EEE;
}
.editorContainer {
  color: white;
  flex-direction: column !important;
  max-width: 100%;
  height:100%;
  width:100%;
  background-color: rgba(34,34,34,.8);
  padding: 20px !important;
}
.editor {
  padding: 15px !important;
  width: 100%;
  height:100%;
}
.disabled {
  color: lightgray;
}
.formPanel {
  border-width: .2rem .2rem 0;
  position: relative;
  color: white;
  padding: 1rem;
  border: 1px solid #ececec;
  margin: 20px auto;
}

.btn-toolbar>*+* {
  margin-left: .5em;
}

.quantifier {
  width: 45px !important;
  text-align: center;
  flex: 0 1 auto !important;
}

.essenceList {
  display: inline-flex;
  margin: 0 10px;
}

.essenceList .input-group-prepend {
  margin: 0 2px 8px 0;
}

.essenceList .input-group-append {
  line-height: normal;
  height: 25px;
  width: 25px;
  margin-top: 0px;
  height: 100%;
}

.essenceList .btn {
  display: block;
  margin: 0 !important;
  padding: 0;
  width: 20px;
  height: 16px;
}

.essenceList .btn.focus, .essenceList .btn:focus {
  box-shadow: none;
}

.essenceList .btn span {
  margin-top: -5px;
  display: block;
}

.help-card-min {
    background-image: url("../../assets/image/help-card-min.png");
    background-repeat: no-repeat;
    display: block;
    width: 32px;
    height: 32px;
    background-size: 500px;
    padding-top: 1px;
    padding-left: 10px;
    font-weight: bold;
    font-size: larger;
    color: ghostwhite;
}

.elan {
  background-position: -23px -31px;
}

.life {
  background-position: -65px -31px;
}

.calm {
  background-position: -110px -31px;
}

.death {
  background-position: -154px -31px;
}

.gold {
  background-position: -199px -31px;
}

.any {
  background-position: -23px -81px;
}

.anyButGold {
  text-align: left;
  background-position: -74px -81px;
  width: 61px;
}

.anyButDeathGold {
    text-align: left;
  background-position: -151px -81px;
  width: 75px;
}
