.lobby-container, .game-lobby-container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 20px;
}
.game-lobby-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.create-game-panel, .game-list-panel, .game-lobby-panel, .loading-panel {
  background-color: rgba(34,34,34,.8);
  width: 100%;
  max-width: 700px;
  margin-bottom: 20px;
  padding: 12px;
  border : 1px solid #F5B041;
}

.game-button {
  text-align: center;
}

.game-button .btn {
  width: 120px;
  margin: 4px 8px;
}

.game-header {
  text-align: center;
  font-size: larger;
}

.player-name {
  text-align: center;
}
.separator {
  border-bottom: 1px solid #F5B041;
  margin: 10px auto;
  text-align: center;
  width: 90%;
}

.game-button .btn-primary {
background-color: #F5B041;
border-color: #F5B041;
color: #000;
}
.game-button .btn-primary:hover {
background-color: #F5D061;
border-color: #F5D061;
color: #000;
}
.game-button .btn.disabled, .game-button .btn:disabled {
  opacity: 1;
}
.game-button .btn-primary:disabled, .game-button .btn-primary:disabled:hover {
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.seat {
  display: inline-block;
  height: 40px;
  width: 250px;
  box-shadow: 0 0 3pt 2pt #F5B041;
  border-radius: 2px;
  margin: 10px;
  font-family: FlourishBoldSpecial;
  font-size: larger;
  text-align: center;
}